@model ETFTemplate.Models.ClientPortal

@{
    ViewBag.Title = "Client portal";
    Layout = "~/Views/Shared/_layout5.cshtml";
}

@section title {
}

@section menu {
    <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#credentials">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/Home/Contact">Contact</a></li>
    </ul>
}

@section sidebar {
    <button data-bs-toggle="pill" data-bs-target="#tab-portfolio" role="tab" class="nav-link active text-white">Portefeuille</button>
    <button data-bs-toggle="pill" data-bs-target="#tab-indicators" role="tab" class="nav-link text-white">Résultats</button>
    <button data-bs-toggle="pill" data-bs-target="#tab-strategy" role="tab" class="nav-link text-white">Strategie</button>
    <hr />
    <button data-bs-toggle="pill" data-bs-target="#tab-kyc" role="tab" class="nav-link text-white">Connaissance</button>
    <button data-bs-toggle="pill" data-bs-target="#tab-documents" role="tab" class="nav-link text-white">Documents</button>
    <hr />
    <button data-bs-toggle="pill" data-bs-target="#tab-book" role="tab" class="nav-link text-white">Ordres</button>
    <button data-bs-toggle="pill" data-bs-target="#tab-operations" role="tab" class="nav-link text-white">Operations</button>
    <button data-bs-toggle="pill" data-bs-target="#tab-cashflows" role="tab" class="nav-link text-white">Trésorerie</button>
    <hr />
    <button data-bs-toggle="pill" data-bs-target="#tab-compliances" role="tab" class="nav-link text-white">Contraintes</button>
    <button data-bs-toggle="pill" data-bs-target="#tab-notes" role="tab" class="nav-link text-white">Notes</button>
    <hr />
    <button data-bs-toggle="pill" data-bs-target="#tab-contact" role="tab" class="nav-link text-white">Contact</button>
    <button data-bs-toggle="pill" data-bs-target="#tab-help" role="tab" class="nav-link text-white">Aide</button>
}

@section header {
    <link rel="stylesheet" href="https://etfreporting.com/content/d3dc" />
    @*<link href="~/Content/site-portal.css" rel="stylesheet" />*@
}


<section class="page-section min-vh-100 section-portfolio">

    <div class="tab-content">

        <div id="tab-portfolio" role="tabpanel" tabindex="0" class="tab-pane fade show active">
            <div class="">
                <div class="p-lg-4 p-md-2 p-sm-1 py-5 mb-4">
                    <h1 class="display-4">Bonjour <span class="name"></span>,</h1>
                    <p>
                        Bienvenue dans votre espace privé.
                        Retrouvez ci-dessous la dernière situation de votre portefeuille.
                        D'autres espaces sur ce portail vont vous permettre
                        de retracer vos opérations, de consulter les derniers rapports
                        émis par les sociétés de gestion ou nous transmettre un ordre à exécuter.
                        N'hésitez pas à nous contacter pour toute question.Nous vous souhaitons une excellente journée.
                    </p>

                    <div class="section-positions py-5">
                        <h2>Inventaire détaillé</h2>
                        <p>
                            Le tableau ci-dessous donne la situation détaillée de votre portefeuille
                            à aujourd'hui. Si vous souhaitez revenir sur une
                            situation passée, changez la date ci-dessous puis cliquez sur Afficher
                        </p>
                        <div class="mb-4">
                            @Html.Partial("_positions")
                        </div>
                        <div class="container-portfolio py-5">
                            @Html.Partial("_portfolio")
                            @Html.Partial("_correlations")
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="tab-strategy" role="tabpanel" tabindex="0" class="tab-pane fade active tab-svg">
            <div class="p-4 mb-4">
                <h1 class="display-4">Stratégie</h1>
                <p>
                    Retrouvez ci-dessous la stratégie conduite par votre portefeuille
                    depuis sa création. En bleu, vos investissements par année et par classe d'actifs.
                    En vert ou rouge, vos sorties respectivement gagnantes ou perdantes. La largeur des bandes et
                    des noeuds est proportionnelle aux montants.
                </p>

                <div class="container-strategy container-sankey py-5">
                    <div id="sankey" class="sankey-chart" data-positions="true"></div>
                </div>

            </div>
        </div>

        <div id="tab-indicators" role="tabpanel" tabindex="0" class="tab-pane fade active tab-svg">

            <div class="p-4 mb-4">
                <h1 class="display-4">Résultats</h1>
                <p>
                    Retrouvez ci-dessous les principaux indicateurs
                    de risques et de performances relevés sur
                    votre portefeuille.
                </p>
                <div class="container py-5">
                    <div class="container-stats">
                        <div class="py-2 mx-lg-5 mx-sm-1">
                            @Html.Partial("_results")
                        </div>
                        <div class="py-2 mx-lg-5 mx-sm-1">
                            @Html.Partial("_indicators")
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="tab-operations" role="tabpanel" tabindex="0" class="tab-pane fade">

            <div class="p-4 p-md-5 mb-4">
                <h1 class="display-4">Activité opérationnelle</h1>
                <p>
                    Retrouvez ci-dessous toutes les opérations enregistrées
                    sur votre portefeuille. Sont présentes les opérations exécutées
                    et celles en cours d'exécution. S'agissant de ces dernières,
                    elles impacteront l'exposition et les liquidités de votre
                    portfeuille uniquement après contrôle et validation
                    de notre part.
                </p>
            </div>

            <div class="d-flex align-items-center justify-content-center">
                <div class="container py-5">
                    <div class="container-operations mx-5">
                        <div class="py-2">
                            @Html.Partial("_operations")
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="tab-cashflows" role="tabpanel" tabindex="0" class="tab-pane fade">

            <div class="p-4 p-md-5 mb-4">
                <h1 class="display-4">Situation de ma trésorerie</h1>
                <p>
                    Retrouvez ci-dessous tous les mouvements espèces enregistrés
                    sur votre portefeuille. Sont présents les mouvements liés à vos opérations
                    d'investissement, vos apports et vos retraits, ainsi que les
                    montants de dividendes perçus au titre
                    de vos positions.
                    La mission de ce module est de comprendre la proche de liquidités
                    de votre portefeuille.
                </p>
            </div>

            <div class="d-flex align-items-center justify-content-center">
                <div class="container py-5">
                    <div class="container-cashflows mx-5">
                        <div class="py-2">
                            @Html.Partial("_cashflows")
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="tab-compliances" role="tabpanel" tabindex="0" class="tab-pane fade">

            <div class="p-4 p-md-5 mb-4">
                <h1 class="display-4">Mes contraintes de gestion</h1>
                <p>
                    Vous pouvez convenir avec votre conseiller une surveillance de votre portefeuille
                    réalisée à un rythme régulier (quotidien, hebdomadaire, mensuel ...) ou à la demande.
                    Le tableau ci-dessous regroupe toutes les contraintes de gestion que vous avez souhaité
                    voir appliquer sur votre portefeuille.
                </p>
            </div>

            <div class="d-flex align-items-center justify-content-center">
                <div class="container py-5">
                    <div class="container-compliances mx-5">
                        <div class="py-2">
                            @Html.Partial("_compliances")
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="tab-notes" role="tabpanel" tabindex="0" class="tab-pane fade">

            <div class="p-4 p-md-5 mb-4">
                <h1 class="display-4">Notes et correspondances</h1>
                <p>
                    Retrouvez ici tous les échanges et autres correspondances avec votre conseiller
                    sur la gestion, la stratégie ou les risques de vos
                    placements dans le cadre de ce portefeuille.
                </p>
            </div>

            <div class="d-flex align-items-center justify-content-center">
                <div class="container py-5">
                    <div class="container-compliances mx-5">
                        <div class="py-2">
                            @Html.Partial("_notes")
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="tab-documents" role="tabpanel" tabindex="0" class="tab-pane fade">

            <div class="p-4 p-md-5 mb-4">
                <h1 class="display-4">Documents</h1>
                <p>
                    Retrouvez ci-dessous tous les documents que vous devez avoir
                    compte tenu des fonds présents dans votre portefeuille.
                    Sont présents les <strong>propsectus</strong> ainsi que
                    les derniers rapports comptables fournis mensuellement
                    par les sociétés de gestion émetrices des fonds investis.
                </p>
            </div>

            <div class="d-flex align-items-center justify-content-center">
                <div class="container py-5">
                    <div class="container-documents mx-5">
                        <div class="py-2">
                            @Html.Partial("_documents")
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="tab-kyc" role="tabpanel" tabindex="0" class="tab-pane fade">
            <div class="p-4 p-md-5 mb-4">
                <h1 class="display-4">Connaissance Client</h1>
                <p>
                    Le tableau ci-dessous regroupe vos dernières réponses à notre questionnre
                    de connaissance.
                    Veuillez mettre à jour les informations concernées par un changement concernant
                    vous, la nature de votre projet ou son horizon afin d'adapter vote portefeuille
                    à votre nouvelle situation.
                </p>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <div class="container py-5">
                    <div class="container-kyc">
                        <div id="container-questions" class="container-questions w-50 mx-auto" style="display:none; min-width:500px;">
                            @Html.Partial("_questionnaire")
                        </div>
                        <div class="container-answers">
                            <p>
                                Retrouvez ci-dessous vos dernières réponses à notre
                                questionnaire. Si une des réponses n'est plus d'actualité ou est
                                à revoir, merci de procéder à sa mise à jour.
                            </p>
                            <div class="table-responsive">
                                <table id="kyc" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>A la question</th>
                                            <th>Vous avez répondu</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="py-3">
                                <button type="button" class="btn btn-primary btn-update">Mise à jour</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="tab-book" role="tabpanel" tabindex="0" class="tab-pane fade">

            <div class="p-4 p-md-5 mb-4">
                <h1 class="display-4">Carnet d'Ordres</h1>
                <p>
                    Votre intermédiaire vous donne les moyens techniques pour lui demander
                    de passer un ordre. Veuillez saisir tous les ordres dans la partie gauche,
                    puis de transférer le carnet ainsi rempli.
                </p>
                @Html.Partial("_book")
            </div>
        </div>

        <div id="tab-contact" role="tabpanel" tabindex="0" class="tab-pane fade">
            <div class="p-4 p-md-5 mb-4">
                <h1 class="display-4">Contact</h1>
                @Html.Partial("_contact")
            </div>
        </div>

        <div id="tab-help" role="tabpanel" tabindex="0" class="tab-pane fade">
            <div class="d-flex align-items-center justify-content-center">
                <div class="container">
                    <h1 class="display-4">Aide pour le conseiller</h1>
                    @Html.Partial("_help")
                </div>
            </div>
        </div>

    </div>

</section>

@section scripts {

    <script>


        var resolveConflits = function () {
            d3.selectAll(".dc-chart  g.row")
                .classed("row", false)
                .classed("dc-row", true);
        }

        var records = [];

        var removerow = function (k) {
            records.splice(k, 1);
            $('#evaluations li').each(function (i, li) {
                if ($(this).attr('id') == 'li-' + k)
                    li.remove();
            });
        };


        $(document).ready(function () {

            LoyolApp.Settings.domain = '@ViewBag.Domain';
            var domain = LoyolApp.Settings.domain;
            var sg = new LoyolApp.SignInController(domain);
            var pc = new LoyolApp.PortfolioController();
            var oc = new LoyolApp.OperationsController();
            var ac = new LoyolApp.AssetsController();
            var robo = new myRobo(LoyolApp, @Model.QuestionnaireID, $('.container-question'));

            // warning modal
            var wModal = new bootstrap.Modal(document.getElementById('warning'), {
                keyboard: false
            });

            //var session = LoyolApp.Session.getInstance().get();
            var cred = { access_token: '@ViewBag.token', userGuid: 'xxx', userName: 'etfreporting', expires_in: @ViewBag.expires  }
            sg.setcredentials(cred);

            // create a new instance of portfolioCharts in charge of widgets management
            var pcharts = new portfolioCharts('');
            pcharts.group($('.portfolio-chart'));

            // assets selector
            ac.get('SelectView', { id: 'Code' }, function (data) {
                var list = $('#datalist');
                $.each(data, function (j, item) {
                    var o = $('<option value="' + item.Value + '">').text(item.Text);
                    o.appendTo(list);
                });
            });

            // contribution/risk selector
            $('.btn-group-select .btn').click(function () {
                var chartdiv = $(this).parent().data('chart');
                $(chartdiv).data($(chartdiv).data('chart') == 'heatMap' ? 'y-dim' : 'dimension', $(this).data('contrib'));
                pcharts.widget(chartdiv).reload();
                resolveConflits();
            });

            // listen when allocations must be refresh option change
            $('.btn-group-allocation .btn').click(function (e, params) {
                var transparency = $(this).attr('transparency');
                var params = { container: '#tree1', transparency: transparency };
                $(document).trigger('reload-allocations', params);
            });

            // when redo questionnaire
            $('.btn-update').click(function () {
                $('.container-answers').fadeOut(1000, function () {
                    robo.start(function () {
                        $('.container-questions').fadeIn(1000, function () {
                            $('html, body').animate({
                                scrollTop: $("#container-questions").offset().top
                            }, 1000);
                        });
                    })
                });
            });

            // when terminate we display a summary
            window.addEventListener('terminate', function (e) {
                $('.container-questions').fadeOut(1000, function () {
                    robo.showReportAnswers($('.container-kyc table tbody'), function () {
                        $('.container-answers').fadeIn(1000);
                    });
                })
            });

            // check report access
            credentialsControl('@Model.Code', function (report) {

                $('.text-username').html(report.Portfolio.name);
                $('span.name').html(report.Portfolio.name);
                $('#reportid').val(report.Portfolio.code);
                $('.portfoliocode').val(report.Portfolio.code);
                $('.portfolioname').html(report.Portfolio.name);

                robo.code = report.Portfolio.code;
                // get portfolio informations
                robo.get(function (data) {
                    robo.showReportAnswers($('.container-kyc table tbody'), function () {
                        robo.checkDiligence();
                    });
                    var $a = robo.appContainers;
                    $a.code = report.Portfolio.code;
                    $a.showProperties($('.properties-container'), report);
                    $a.showHoldings('#holdings', $('#PositionDate').val(), function () {
                        $a.showPortfolioSynthesis('.synthesis-item');
                        $a.showOperations('.container-operations', true);
                        $a.showOperations('.container-pendings', false);
                        $a.showTreasury();
                        $a.showDocuments();
                        $a.showDataviz(function () {
                            $a.showCompliances(true);
                        });
                    });
                    showNotes(report.Notes, $('#notes-container'));
                    // When we click for refreshing portfolio
                    $('.btn-positions').click(function () {
                        $a.showHoldings('#holdings', $('#PositionDate').val(), function () { });
                    });
                })
            })

            var showNotes = function (notes, container) {
                $.each(notes, function (i, n) {
                    var div = $('<article>').addClass('p-2 bg-light my-2');
                    var h3 = $('<h3>').html(n.title);
                    var h5 = $('<h5>').html(n.preamble);
                    var p = $('<em>').html(n.body);
                    div.append(h3, h5, p);
                    div.appendTo(container);
                })
            }

            // contact form
            $('.form-contact').submit(function () {
                var data = $(this).serialize();
                robo.post(data, function (result) {
                    wModal.show();
                });
                return false;
            })

            $('#status').on('change', function () {
                if ($(this).val() == 'INV') {
                    $('#units').val('M');
                    $('#label-value').text('Montant');
                }
                else if ($(this).val() == 'EXT') {
                    $('#units').val('M');
                    $('#label-value').text('Apport/retrait');
                }
                else if ($(this).val() == 'IMP') {
                    $('#units').val('S');
                    $('#label-value').text('Nombre de titres');
                }
                else {
                    $('#units').val('P');
                    $('#label-value').text('% Portefeuille');
                }
            })

            $('#units').on('change', function () {
                var sel = $('#units option:selected').text();
                $('#label-value').text(sel);
            })

            $('#securityid').on('keyup', function () {
                if (this.value.toUpperCase() == 'EUR') {
                    $('#units').val('M'); // default in amount
                    $('#status').val('EXT'); // external
                }
            })

            var addEval = function (result) {
                var $li = $('<li>'),
                    i = records.length;
                $li.attr('id', 'li-' + i)
                var del = '<a href="#edition" onclick="removerow(' + i + ')"> Supprimer</a>';
                $li.html(result.Message + del);
                $li.appendTo($('#evaluations'));
                records.push(result.Object);
            };

            var additem = function (rec, name, value) {
                return '<input type="text" value="' + value + '" name="' + rec + name + '">';
            }

            var recordsToTable = function () {
                var tb = $('.upload-book table tbody:last-child');
                tb.empty();
                records.forEach(function (r, i) {
                    var pref = 'Records[' + i + '].';
                    var tr = $('<tr>').append(
                        $('<td>').html(additem(pref, 'SecurityID', r.SecurityID)),
                        $('<td>').html(additem(pref, 'ValueDate', r.ValueDate)),
                        $('<td>').html(additem(pref, 'Status', r.Status == null ? 'PEN' : r.Status)),
                        $('<td>').html(additem(pref, 'Value', r.Value)),
                        $('<td>').html(additem(pref, 'Units', r.Units)),
                        $('<td>').html(additem(pref, 'Price', r.Price)),
                        $('<td>').html(additem(pref, 'Ccy', r.Ccy)),
                        $('<td>').html(additem(pref, 'ProgramCode', r.ProgramCode == null ? '' : r.ProgramCode))
                    );
                    tr.attr('id', 'row-' + i);
                    tr.appendTo(tb);
                });
            }

            $('.form-add-order').submit(function () {
                $('#orderdate').val($('#vd').val());
                var params = $(this).serialize();
                oc.post('Eval', params, function (result) {
                    if (result.Success)
                        addEval(result);
                    else
                        alert(result.Message);
                })
                return false;
            })

            $('form.upload-book').submit(function () {
                $('.message').removeClass('fade');
                var $fro = $(this);
                $fro.find('.btn').attr('disabled', 'disabled');
                recordsToTable();
                var params = $fro.serialize();
                pc.post('uploadoperations', params, function (result) {
                    $fro.find('.btn').removeAttr('disabled');
                    $('.message').addClass('fade');
                    if (result.Success) {
                        records = []; // empty the array of records
                        $('#evaluations').empty(); // and the display list
                        getPendings(result.Code) // refresh the table of pending operations
                    }
                    else {
                        $('.form-container').show();
                        var warnings = $('#error-message');
                        warnings.empty();
                        warnings.append('<span>' + result.Message + '</span>')
                        var list = warnings.append('<ul></ul>');
                        $.each(result.RuleViolations, function (i, r) {
                            list.append('<li>' + r.ErrorMessage + '</li>');
                        });
                        warnings.attr('hidden', false);
                        errModal.show();
                    }
                });
                return false;
            });


        });


    </script>
}
