<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="ETFReporting is a registered trademark of LOYOL" />
    <meta name="description" content="ETFReporting is a free service to get a profesional vision of any portfolio invested in ETF" />
    <meta name="author" content="LOYOL SAS, France" />
    <meta name="keywords" content="ETF Portfolio Models Savings Allocation Reporting Dataviz D3 Free" />
    <meta name="robots" content="index,follow" />

    <title>ETF Reporting</title>
    <link href="~/Resources/ETFReporting.jpg" rel="shortcut icon" type="image/x-icon">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/cover.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/duyplus/fontawesome-pro@6.4.0/css/all.min.css">

    @RenderSection("header", false)
</head>

<body class="d-flex h-100 text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" aria-current="page" href="/">@Resources.Home.home</a>
                    <a class="nav-link" href="/Home/Features">@Resources.Home.services</a>
                    <a class="nav-link" href="/Home/HowTo">@Resources.Home.format</a>
                </nav>
            </div>
        </header>

        @RenderBody()

        <div id="error-modal" class="modal text-black text-start" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Erreur</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="error-message"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>

        <footer class="mt-auto text-white-50">
            <p>@Resources.Home.copyright</p>
        </footer>
    </div>
</body>

@RenderSection("scripts", false)


</html>
