@model Lili4me.Models.LeadConnection

@{
    ViewBag.Title = "Robo for Advisor";
    Layout = "~/Views/Shared/_layout5NoMenu.cshtml";
}

@section title {
    Mon robot
}

@section header {
    <!-- The style of my web site for widgets -->
    <link href="~/Content/mydataviz.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://etfreporting.com/content/d3dc" />
}

<section id="section-start" class="section-start page-section w-100">

    <div class="d-flex align-items-center justify-content-center">
        <div class="p-4 p-md-5 mb-4">
            <h1 class="display-4">Bonjour,</h1>
            <p>
                Si vous êtes en quête d'une solution financière adaptée à votre profil, vos attentes et
                vos projets, alors vous êtes au bon endroit.
                Si vous souhaitez resté anonyme et que l'on entre en contact 
                seulement si vous êtes satisfait de la
                proposition à la carte qui sera produite après 10 questions posées,
                alors vous êtes au meilleur endroit.
                On se retrouve dans quelques instants si vous le voulez bien.
                Bienvenue sur myadvisor.com
            </p>
        </div>
    </div>

    <div class="holder d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto py-4">
                    @Html.Partial("_questionnaire")
                </div>

                <div class="container-kyc col-lg-7 mx-auto" style="display:none;">
                    <h2>Synthèse de votre profil</h2>
                    <div class="py-3">
                        <p>
                            Avant de concevoir et de voir en détail notre proposition, nous vous invitons à valider les réponses
                            données à notre questionnaire. Le niveau de risques ou l'impact du portefeuille
                            que nous allons vous dépendent de celles-ci.
                        </p>
                    </div>
                    <div class="table-responsive">
                        <table id="kyc" class="table">
                            <thead>
                                <tr>
                                    <th>A la question</th>
                                    <th>Vous avez répondu</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>


                    <h2 class="py-3">Validation</h2>
                    <div>
                        <p>
                            Avant de concevoir notre proposition et voir en détail ses différentes composantes,
                            merci de <b>valider la synthèse</b> ci-dessus.
                            Le niveau de risques ou l'impact du portefeuille en matière de durabilité
                            en dépendent.
                        </p>
                    </div>

                    <form class="creation-form" method="post">

                        <input type="hidden" id="StartDate" name="StartDate" value="2019-12-31" />
                        <input type="hidden" id="RiskLevel" name="RiskLevel" value="4" />
                        <input type="hidden" id="IsModel" name="IsModel" value="false" />
                        <input type="hidden" id="Name" name="Name" value="Notre proposition" />
                        <input type="hidden" id="Code" name="Code" value="" />
                        <input type="hidden" id="minutes" name="minutes" value="60" />
                        <input type="hidden" id="Persistence" name="Persistence" value="false" />
                        <input type="hidden" id="PositionDate" name="PositionDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                        <p>
                            Il est important de rappeller que
                            la composition proposée pour ce portefeuille peut être revue totalement ou partiellement afin de
                            prendre en compte d'autres points que vous nous partagerez lors d'un prochain entretien.
                        </p>

                        <div class="align-content-center">
                            <button type="submit" class="btn btn-primary">Je valide cette synthèse</button>
                            <button type="button" class="btn btn-primary btn-redo">Je recommence le questionnaire</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</section>

<section id="section-portfolio" class="page-section section-portfolio visually-hidden">

    <div class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="p-4 p-md-5 mb-4">
                <h1 class="display-4">Notre proposition</h1>
                <p>
                    Il est temps de découvrir notre proposition.
                    Celle-ci est construite à partir de nos <b>portefeuilles modèles</b>.
                    Nous avons retenus ceux qui répondent favorablement à vos objectifs,
                    puis nous avons ajusté leurs poids
                    afin de coller à votre profil de risques tel que
                    nous l'avons compris via notre questionnaire.
                    Si cette sélection ne correspond pas à vos attentes,
                    n'hésitez pas à <a href="#" class="btn-redo">revenir sur le questionnaire</a>.
                </p>

                <div class="py-5">
                    <h2>Nos modèles</h2>
                    <p>
                        Avant de découvrir notre proposition en détails, voici les <b>modèles</b> retenus.
                        Si cette sélection ne correspond pas à vos attentes,
                        n'hésitez pas à <a href="#" class="btn-redo">revenir sur le questionnaire</a>.
                    </p>
                    <div id="assets" class="assets-container card-group p-5"></div>
                </div>

                <div class="py-5">
                    <h2>Expositions</h2>
                    <p>
                        Une fois nos <b>modèles</b> agrégés, voici le contenu détaillé de notre portefeuille.
                        Nous vous offrons plusieurs analyses de ce dernier afin de porter à 
                        votre connaissance toutes les expositions et tous les risques portés à ce jour.
                        Si cette proposition vous convient, je vous invite à <a href="#contact">prendre contact</a> 
                        avec moi afin d'améliorer celle-ci.
                    </p>
                    <div class="py-5">
                        @Html.Partial("_portfolio")
                    </div>                
                </div>

            </div>

        </div>
    </div>

</section>

<!-- Contact-->
<section class="page-section section-contact visually-hidden" id="contact">

    <div class="container px-4 px-lg-5 py-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h1 class="mt-0 display-4">Rencontrons-nous!</h1>
                <hr class="divider" />
                <p class="mb-5">
                    Vous souhaitez en savoir plus sur cette proposition?
                    Contactez-nous via le formulaire ci-joint. Nous vous répondrons le plus vite possible!
                    En attendant, dès la validation de cette prise de contact, vous recevrez un lien 
                    permettant de revoir cette proposition <u>actualisée</u> 
                    comme si vous étiez un de mes clients.
                </p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <div class="py-3">
                    <form class="form-contact">
                        <input type="hidden" id="portfolioquestionnaireid" name="questionnaireid" value="2031" />
                        <input type="hidden" id="userid" name="userid" value="" />
                        <input type="hidden" id="portfoliocode" name="code" value="" />

                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="portfolio-name" name="name" type="text" placeholder="Entrez vos nom et prénom..." data-sb-validations="required" />
                            <label for="portfolio-name">Votre nom et prénom</label>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" name="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Votre adresse email</label>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" name="phone" type="tel" placeholder="(33) 6-15-14-15-14" data-sb-validations="required" />
                            <label for="phone">Votre numéro de téléphone</label>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" name="message" type="text" placeholder="Expliquez-nous vos attentes en quelques mots..." style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="message">Vos attentes particulières</label>
                        </div>

                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Soumettre</button></div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="warning" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Validation</h5>
            </div>
            <div class="modal-body">
                <p>
                    Un email vient d'être émis afin de valider votre adresse.
                    Cliquez sur le lien contenu dans le message afin de transmettre votre demande.
                    Dans l'attente de parler de vive voix de votre projet, nous vous souhaitons une excellente journée.
                </p>
                <p><strong>John Doe</strong><br /><em>Votre conseiller en gestion de patrimoine</em></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>

        var robo = [];
        var startfrom = function (i) {
            robo.startfrom(i, );
        }

        $(document).ready(function () {

            var domain = LoyolApp.Settings.domain;
            var sg = new LoyolApp.SignInController(domain);
            var $cus = new LoyolApp.CustomerController();

            //var session = LoyolApp.Session.getInstance().get();
            var cred = { access_token: '@ViewBag.token', userGuid: 'xxx', userName: 'etfreporting', expires_in: @ViewBag.expires  }
            sg.setcredentials(cred, function () { });

            robo = new myRobo(LoyolApp, @Model.QuestionnaireID, $('.container-question'));
            if ($.cookie('credentials-u')) {
                robo.userid = $.cookie('credentials-u');
                // verify here the client report
                $cus.exists(robo.userid, function (v) {
                    if (v)
                        window.location = '/ClientPortal';
                });
            };

            robo.start(function () {
                // keep user id for contact form
                $('#userid').val(robo.userid);
            })

            // when terminate we display a summary
            window.addEventListener('terminate', function (e, questionnaire) {
                $('.container-questionnaire').fadeOut(1000, function () {
                    robo.showAnswers($('.container-kyc table tbody'), function () {
                        $('.container-kyc').fadeIn(1000);
                    });
                })
            });

            // When we submit for a creation of a portfolio
            $('.creation-form').submit(function () {
                $('.section-start').addClass('visually-hidden');
                var params = $(this).serialize();
                robo.create(params, '2021-01-04', function (result) {
                    $('.section-portfolio .portfolio-content').empty();
                    $('.section-portfolio').removeClass('visually-hidden');
                    $('.section-contact').removeClass('visually-hidden');
                    $('#portfoliocode').val(result);
                    robo.showProposal(function () {
                        $('html, body').animate({
                            scrollTop: $("#section-portfolio").offset().top
                        }, 1000);
                    });
                });
                return false;
            });

            // when redo questionnaire
            $('.btn-redo').click(function () {
                robo.start(function () {
                    $('.section-portfolio').addClass('visually-hidden');
                    $('.section-contact').addClass('visually-hidden');
                    $('.section-start').removeClass('visually-hidden');
                    $('.container-kyc').fadeOut(1000, function () {
                        $('.container-questionnaire').show();
                        $('.container-question').show();
                        $('html, body').animate({
                            scrollTop: $("#section-start").offset().top
                        }, 1000);
                    });
                })
           })

            // warning modal
            var wModal = new bootstrap.Modal(document.getElementById('warning'), {
                keyboard: false
            });

            // contact form
            $('.form-contact').submit(function () {
                var data = $(this).serialize();
                robo.post(data, function (result) {
                    if (result.Success)
                        $.post('/Lead/ToConfirm', result, function () {
                            wModal.show();
                        })
                });
                return false;
            })

        });

    </script>
}
