<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/prettify.css" rel="stylesheet" />
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img width="100" height="100" class="me-2" src="~/Images/logo.jpg" />
                <span class="fs-4">ETF template</span>
            </a>
        </header>
        <main>
            <div class="container body-content">
                @RenderBody()
            </div>
        </main>
        <footer class="pt-5 my-5 text-muted border-top">
            Created by LOYOL SAS Company - France &middot; &copy; 2024
        </footer>

    </div>

    <script src="~/Scripts/bootstrap.bundle.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/controllers")
    @RenderSection("scripts", required: false)
</body>
</html>
