
@section menu {

    <ul class="navbar-nav ms-auto my-2 my-lg-0">
        @if (ApplicationHelper.IsTemplate)
        {
            <li class="nav-item"><a class="nav-link" href="/Home/About">A propos</a></li>
        }
        <li class="nav-item"><a class="nav-link" href="/Home/Contact">Contact</a></li>
    </ul>

}

<div class="mx-lg-4 p-lg-5 text-center">
    <h1 class="display-1 fw-bolder"><img class="img-fluid w-50" title="@ViewBag.Title" src="@ApplicationHelper.LogoUrl" /></h1>
    <div class="py-5 p-4 d-flex justify-content-center w-100">
        <a href="/ClientPortal/" class="btn btn-dark btn-sq-responsive p-4 mx-1" title="@ApplicationHelper.PortalName">
            <span class="fa fa-line-chart"></span><br />
            <h2 class="display-6" style="font-size:2rem;">@ApplicationHelper.PortalName</h2>

        </a>
        <a href="/Robot/" class="btn btn-primary btn-sq-responsive p-4 mx-1" title="@ApplicationHelper.RoboName">
            <span class="fa fa-address-book"></span><br />
            <h2 class="display-6" style="font-size:2rem;">@ApplicationHelper.RoboName</h2>
        </a>
    </div>

</div>

